/* REMOVE THIS, USE YOUR OWN  */
html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #1a1a1a;
  }
  .dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  
  /* STYLES SPECIFIC TO FOOTER  */
  .premier-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    height: auto;
  }
  .deuxieme-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    height: auto;
  }
  .footer-top {
    width: 100%;
    position: relative;
    height: 100px;
    background: linear-gradient(to top, #1A1A1A,#1A1A1A, #222222, #2A2A2A, #323232, #3A3A3A, #414141, #494949, #515151, #595959, #616161, #696969, #717171, #797979, #818181, #898989, #909090, #989898, #A0A0A0, #A8A8A8, #B0B0B0, #B8B8B8, #C0C0C0, #C8C8C8, #D0D0D0, #D8D8D8, #DFDFDF, #E7E7E7, #EFEFEF, #F7F7F7, #FFFFFF);
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    height: auto;
   background-color: #1a1a1a;
  }
  
  .fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #be9e44;
  }
  .footer .col {
    width: 200px;
    height: auto;
    float:inline-end;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #be9e44;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #be9e44;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #d8c690;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }