<!-- FOOTER START -->
<div class="footer-top">

</div>
<div class="footer">

  <div class="premier-bloc">


    <div class="col social">
      <h1>Média sociaux</h1>

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>

    </div>


  </div>
  <div class="deuxieme-bloc">
    <div class="contain">


      <div class="col">
        <h1>Compagnie</h1>
        <ul>
          <li>À propos</li>
          <li>Mission</li>
          <li>Services</li>
          <li>Nous contacter</li>
        </ul>
      </div>
      <div class="col">
        <h1>Produits</h1>
        <ul>
          <li>Route des vins</li>
          <li>Chauffeur VIP</li>
          <li>Restauration</li>
          <li>Plein-air</li>
          <li>Chalet</li>
        </ul>
      </div>
      <div class="col">
        <h1>Resources</h1>
        <ul>
          <li>Email</li>
          <li>Téléphone</li>
          <li>Site web</li>
        </ul>
      </div>
      <div class="col">
        <h1>Support</h1>
        <ul>
          <li>Nous contacter</li>
        </ul>
      </div>


      <div class="clearfix"></div>
    </div>
  </div>
  </div>
  <!-- END OF FOOTER -->