@import "~bootstrap/dist/css/bootstrap.css";
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}
h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}


p {
    font-size: 25px;
    line-height: 1.5;
    color: #666666;
    text-align:left;
    margin: 20px;
    margin-bottom: 30px;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
ul li {
    font-size: 20px;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 10px;
}
img {
    display: block;
    margin: 0 auto;
    width: auto;
    height:auto;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.container-bas h2{
    font-size: 30px;
    line-height: 1.5;
    color: #333333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.container-haut h2 {
    font-size: 30px;
    line-height: 1.5;
    color: #333333;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
   
   
  }
  .container a{
    text-align: center; 
    text-decoration: none;
  }
  .nomEvement{
    text-align: center; 
    text-decoration: none;
  }
.container-haut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  }

  .container-haut img {
    width: 300px;
    height: auto;
    
  }


  .container-bas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .container-bas img {
    width: 300px;
    height: auto;
    
  }