<div class="container">

    <h1>Nos Services</h1>

    <div class="container-haut">
        <ngb-carousel #carousel>
            
            <ng-template ngbSlide *ngFor="let evenement of evenementVin">
        
           

                
                    <a [routerLink]="['/réservation', evenement.getId()]"
                    (click)="donneEvenement(evenement)">
                        
                        <div class="picsum-img-wrapper">
                            <img [src]="evenement.getPhotoLink()" alt=" evenement " />
                        </div>
                        
                        <p  class="nomEvement">{{ evenement.getNom() }}</p>
                        
                 
                    </a>
                
           
    
</ng-template>

</ngb-carousel>
    <ul>

        <p><b>Route des vins : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet
            rutrum urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor
            sit
            amet quam et, ultrices cursus mauris. </p>
    </ul>
</div>

<div class="container-bas">
    <ul>

        <p><b>Chauffeur VIP : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum
            urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor
            sit
            amet quam et, ultrices cursus mauris.. </p>
    </ul>
    <ngb-carousel #carousel>
            
        <ng-template ngbSlide *ngFor="let evenement of evenementChauffeur">
    
       

            
                <a [routerLink]="['/réservation', evenement.getId()]"
                (click)="donneEvenement(evenement)">
                    
                    <div class="picsum-img-wrapper">
                        <img [src]="evenement.getPhotoLink()" alt=" evenement " />
                    </div>
                    
                    <p  class="nomEvement">{{ evenement.getNom() }}</p>
                    
             
                </a>
            
       

</ng-template>

</ngb-carousel>
   
</div>
<div class="container-haut">
    <ngb-carousel #carousel>
            
        <ng-template ngbSlide *ngFor="let evenement of evenementRestaurant">
    
       

            
                <a [routerLink]="['/réservation', evenement.getId()]"
                (click)="donneEvenement(evenement)">
                    
                    <div class="picsum-img-wrapper">
                        <img [src]="evenement.getPhotoLink()" alt=" evenement " />
                    </div>
                    
                    <p  class="nomEvement">{{ evenement.getNom() }}</p>
                    
             
                </a>
            
       

</ng-template>

</ngb-carousel>
    <ul>

        <p><b>Restauration : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum
            urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor
            sit
            amet quam et, ultrices cursus mauris.. </p>
    </ul>
</div>

<div class="container-bas">
    <ul>

        <p><b>Plein-air : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum
            urna. Morbi at leo
            mollis, cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam
            urna, auctor sit amet quam et, ultrices cursus mauris. </p>
    </ul>
    <ngb-carousel #carousel>
            
        <ng-template ngbSlide *ngFor="let evenement of evenementPleinAirs">
    
       

            
                <a [routerLink]="['/réservation', evenement.getId()]"
                (click)="donneEvenement(evenement)">
                    
                    <div class="picsum-img-wrapper">
                        <img [src]="evenement.getPhotoLink()" alt=" evenement " />
                    </div>
                    
                    <p  class="nomEvement">{{ evenement.getNom() }}</p>
                    
             
                </a>
            
       

</ng-template>

</ngb-carousel>
</div>
<div class="container-haut">
    <ngb-carousel #carousel>
            
        <ng-template ngbSlide *ngFor="let evenement of evenementChalet">
    
       

            
                <a [routerLink]="['/réservation', evenement.getId()]"
                (click)="donneEvenement(evenement)">
                    
                    <div class="picsum-img-wrapper">
                        <img [src]="evenement.getPhotoLink()" alt=" evenement " />
                    </div>
                    
                    <p  class="nomEvement">{{ evenement.getNom() }}</p>
                    
             
                </a>
            
       

</ng-template>

</ngb-carousel>
    <ul>

        <p><b>Chalet : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna.
            Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor
            sit
            amet quam et, ultrices cursus mauris. </p>
    </ul>
</div>
</div>
