<div class="container">

    <h1>Nos Services</h1>
    
    <div class="container-haut">
        
        <img src="../../assets/routeVin.jpg" alt="image à propos" />
        
        <ul>
           
        <p><b>Route des vins : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor sit
            amet quam et, ultrices cursus mauris.  </p>
        </ul>
    </div>
 
    <div class="container-bas">
        
        <ul>
            
            <p><b>Chauffeur VIP : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo
                mollis, cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam
                urna, auctor sit amet quam et, ultrices cursus mauris.</p>
        </ul>
        <img src="../../assets/chauffeur.jpg" alt="deuxième image à propos" />
    </div>
    <div class="container-haut">
        <img src="../../assets/restaurant.jpg" alt="image à propos" />
        <ul>
        
        <p><b>Restauration : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor sit
            amet quam et, ultrices cursus mauris.. </p>
        </ul>
    </div>

    <div class="container-bas">
        <ul>
            
            <p><b>Plein-air : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo
                mollis, cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam
                urna, auctor sit amet quam et, ultrices cursus mauris.  </p>
        </ul>
        <img src="../../assets/pleinair.jpg" alt="deuxième image à propos" />
    </div>
    <div class="container-haut">
        <img src="../../assets/chalet.jpg" alt="image à propos" />
        <ul>
       
        <p><b>Chalet : </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo mollis,
            cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor sit
            amet quam et, ultrices cursus mauris. </p>
        </ul>
    </div>
</div>
