<h1>Devenez partenaire</h1>
<div class="container">
  <form  [formGroup]="partenaireForm" (ngSubmit)="onFormSubmit()">
    <label for="nom" >Nom :</label>
    <input type="text" formControlName="nom" ><br><br>
    <label for="prenom">Prénom :</label>
    <input type="text" formControlName="prenom"><br><br>
    <label for="telephone">Téléphone :</label>
    <input type="phone" formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && f['telephone'].errors }"><br><br>
    <div *ngIf="submitted && f['telephone'].errors" class="invalid-feedback">
        <div *ngIf="f['telephone'].errors">A valid phone number is required</div>
        
    </div>
    <label for="email">Email :</label>
    <input type="email"  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"><br><br>
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors">A valid email is required</div>
        
    </div>
    <input type="submit" value="Envoyer">
   
  </form>
</div>
