<h1>À propos de nous</h1>
<div class="container">
    
        
    <div class="container-haut">
        <img src="../../assets/madame.png" alt="image à propos" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet rutrum urna. Morbi at leo mollis, cursus est id, vestibulum lorem. Sed lobortis mauris vel eros placerat posuere. Nullam diam urna, auctor sit amet quam et, ultrices cursus mauris. Aenean porta imperdiet arcu ac venenatis. In dapibus, mauris nec posuere tincidunt, elit est auctor ex, non lobortis augue diam nec nisl. Mauris dignissim sodales urna. Morbi ultrices sed turpis in consectetur. Nam ut ante imperdiet urna dapibus condimentum ut et turpis. Morbi tincidunt rhoncus molestie. </p>
    </div>
    
    <div  class="container-bas">
        <ul>
            <li><p>Nos valeurs : Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p></li>
            <li><p>Nos réalisations : Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p></li>
            <li><p>Nos partenaires : Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p></li>
        
        </ul>
        <img src="../../assets/monsieur.png"  alt="deuxième image à propos" />
    </div>
    <p [ngStyle]="{'text-align': 'center'}"><b>Nous contacter: Lorem ipsum dolor sit amet</b></p>
</div>
