<div class="nav">
    <div [ngStyle]="{'background-size': 'cover','background-position': 'center','background-repeat': 'no-repeat' ,'width':'100%' }"
        *ngIf="isHomeRoute()">

        <div class="navHaut">
            <nav class="subnav">
                <ul class="nav">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">

                    </a>
                    <li class="nav-item">

                        <a class="nav-link" [routerLink]="['/']">


                            <span>Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/about']">
                            <span>À propos</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/devenez-partenaire']">

                            <span>Devenez partenaire</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/nos-services']">
                            <span>Nos services</span>

                        </a>

                    </li>

                    <li>
                        <div class="search-container">
                            <input type="text" name="search" placeholder="Recherche..." class="search-input">

                            <i class="fas fa-search" [routerLinkActive]="''" [routerLink]="['/devenez-chauffeur']"></i>

                        </div>
                    </li>


                </ul>
                <li style="float: right;" class="floatright"><a class="nav-link" [routerLinkActive]="''"
                        [routerLink]="['/']">Connexion</a></li>
            </nav>

        </div>

        <div class="background"><img src="../../assets/logo2.png"></div>
        <!--<ul class="navPhoto">

            <li>

                <a (click)="changeBackground('../../assets/routeVin.jpg','routevin')">
                    <span>Route des vins</span>
                </a>
            </li>
            <li>
                <a (click)="changeBackground('../../assets/chauffeur.jpg','chauffeur')">

                    <span>Chauffeur VIP</span>
                </a>
            </li>
            <li>
                <a (click)="changeBackground('../../assets/restaurant.jpg','restaurant')">
                    <span>Restauration</span>
                </a>
            </li>
            <li>
                <a (click)="changeBackground('../../assets/pleinair.jpg','pleinair')">
                    <span>Plein-air</span>
                </a>
            </li>
            <li>
                <a (click)="changeBackground('../../assets/chalet.jpg','chalet')">
                    <span>Chalet</span>
                </a>
            </li>
        </ul>-->

        <div class="callToAction">

            <div class="titre">
         
                <button type="submit"><i class="fa fa-handshake-o" aria-hidden="true"></i>
                </button>
                <h1>
                    Discover cities, Connect Locally, Ride VIP
                </h1>
            
                <button type="submit"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </button>
        </div>
        </div>

    </div>


</div>

<div class="nav">
    <div *ngIf="!isHomeRoute()"
        [ngStyle]="{'background-size': 'cover','background-position': 'center','background-repeat': 'no-repeat' ,'width':'100%' }">
        <div class="navHaut">
            <nav class="subnav">
                <ul class="nav">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">

                    </a>
                    <li class="nav-item">

                        <a class="nav-link" [routerLink]="['/']">


                            <span>Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/about']">
                            <span>À propos</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/devenez-partenaire']">

                            <span>Devenez partenaire</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="''" [routerLink]="['/nos-services']">
                            <span>Nos services</span>

                        </a>

                    </li>

                    <li>
                        <div class="search-container">
                            <input type="text" name="search" placeholder="Recherche..." class="search-input">

                            <i class="fas fa-search " [routerLinkActive]="''" [routerLink]="['/devenez-chauffeur']"></i>

                        </div>
                    </li>


                </ul>
                <li style="float: right;" class="floatright"><a class="nav-link" [routerLinkActive]="''"
                        [routerLink]="['/']">Connexion</a></li>
            </nav>
        </div>

        <ul class="navPhoto">

        </ul>
        <div class="background"><img src="../../assets/logo2.png"></div>

    </div>